@model KetoRecipies.Models.ViewModels.UserDashboardViewModel

<h1 class="mt-3 mb-5">Your Dashboard</h1>
<div class="container text-left">
    <div class="card mt-5 ">
        <div class="card-body">
            <h3 class="card-header text-center">Account Stats</h3>
            <h3 class="mt-3"><span style="color:deepskyblue">Total Recipes You Created:</span> @Model.MyRecipesCount</h3>
            <hr />
            <h3><span style="color:deepskyblue">Total Favorites in Your My Favorites Section:</span> @Model.TotalFavorites</h3>
            <hr />
            <h3><span style="color:deepskyblue">Total Comments in the Recipes You Created:</span> @Model.TotalComments</h3>
            <hr />
            <h3><span style="color:deepskyblue">Total Likes of the Recipes You Created:</span> @Model.TotalLikes</h3>
            <h3 class="card-header text-center">Manage Account</h3>
            <a asp-action="ChangePassword"><h3 class="text-center mt-3" style="color:deepskyblue">Change Password</h3></a>
        </div>
        </div>
    </div>
