@model KetoRecipies.Models.ViewModels.UserDashboardViewModel

<style>
    p, .link{
        font-size:20px;
    }
</style>
    <div class="container"><h1 class="mt-5 ml-3">Your Dashboard</h1></div>
<div class="container text-left">
    <div class="card-deck col">
        <div class="card">
            <div class="card-body">
                <h2 class="card-header text-center">Account Stats</h2>
                <p class="mt-3">Total Recipes You Created: @Model.MyRecipesCount</p>
                <hr />
                <p>Total Favorites in Your My Favorites Section: @Model.TotalFavorites</p>
                <hr />
                <p>Total Comments in the Recipes You Created: @Model.TotalComments</p>
                <hr />
                <p>Total Likes of the Recipes You Created: @Model.TotalLikes</p>             
            </div>
        </div>
        <div class="card text-center ">
            <div class="card-body">
                <h2 class="card-header text-center mb-3">Manage Account</h2>
                <a class="mt-3 link" asp-action="ChangePassword">Change Password</a>
            </div>
        </div>
    </div>
</div>
