@if (TempData["Message"] != null)
{
    <div class="container mt-3">
        <h2 style="color:lightgreen;">@TempData["Message"].ToString()</h2>
    </div>
}

<div class="container">
    <div class="card-deck col">
        <div class="container"><h1>Contact Us</h1></div>
        <div class="card mr-0" style="width: 18rem;">

            <div class="card-body">
                <form asp-action="ContactUs" method="post">
                    <input type="hidden" value="" name="honey"/>
                    <label for="#CEmail">Your Email Address</label>
                    <input id="CEmail" name="email" class="form-control mb-2" required />
                    <label for="#CSubject">Subject</label>
                    <input id="CSubject" name="subject" class="form-control mb-2" required />
                    <label for="#CComments">Your Comments</label>
                    <textarea id="CComments" type="text" name="message" class="form-control" required></textarea>

                    <button type="submit" class="btn border btn-lg mt-3">Send Message</button>

                </form>
            </div>
        </div>
    </div>
</div>
