@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
    <div class="container mt-3 mb-3"><h1>Become Part of the Community</h1></div>
<div class="container mb-3">
    @if(TempData["UserExists"] != null)
    {
    <p style="color:red;">@TempData["UserExists"]</p>
    }
        <div class="card">
            <div class="card-body text-left bg-light">
                
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <input type="hidden" value="" asp-for="Input.honey" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Name"><span style="color:red;">*</span>User Name</label>
                        <input asp-for="Input.Name" class="form-control" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"><span style="color:red;">*</span>Email</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <p>If you want your social media links on your recipes, please provide the URLs</p>
                    <div class="form-group">
                        <label asp-for="Input.Facebook"></label>
                        <input asp-for="Input.Facebook" class="form-control" />
                        <span asp-validation-for="Input.Facebook" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.YouTube"></label>
                        <input asp-for="Input.YouTube" class="form-control" />
                        <span asp-validation-for="Input.YouTube" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Instagram"></label>
                        <input asp-for="Input.Instagram" class="form-control" />
                        <span asp-validation-for="Input.Instagram" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Twitter"></label>
                        <input asp-for="Input.Twitter" class="form-control" />
                        <span asp-validation-for="Input.Twitter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"><span style="color:red;">*</span>Password</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"><span style="color:red;">*</span>Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a class="nav-link mb-3" href="~/Home/Privacy" target="_blank" style="color:deepskyblue; padding:0px;">Privacy Policy and Terms</a>
                        <p>By clicking "Register" you acknowledge that you have read and agree with the privacy policy and terms of use.</p>
                        <button type="submit" class="btn border btn-lg">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
