@import url('https://fonts.googleapis.com/css?family=Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');
.active {
    font-style: italic;
    font-weight: bold;
}
.form-control-borderless {
    border: none;
}

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }


body {
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
    text-align: center;
    align-content:center;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media screen and (max-width: 872px) {
    html {
        font-size: 16px;
    }


    .card-body {
        align-self: center;
        width:95%;
    }
}


@media screen and (max-width: 414px) {
    .container {
        width: 95%;
        align-content:center;
    }
    .card {
        width: 95%;
        align-self: center;
        margin: auto;
    }
    .card-body {
        width: 95%;
        align-self: center;
        margin: auto;
    }
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  align-content:center;
}
footer{
    margin-bottom:0px;
}
