@import url('https://fonts.googleapis.com/css?family=Pacifico|Righteous|Roboto+Condensed|Ubuntu|Rufina&display=swap');

@media (prefers-color-scheme: dark) {

}
label{
    font-weight:bold;
}
a {
    color: deepskyblue;
}
* {
    
    border-radius: 0 !important;
    box-shadow: none !important;
    padding:0px;
}
li{
    margin:0px !important;
}
.card{
    padding:0px !important;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    padding: 0%;
    margin: 0%;
    margin-top: 100px;
    margin-bottom: 250px !important;
}

hr {
    border: 1px solid black;
}
.nav-link:hover{
    font-weight:bold;
}
.nav-btn {
    background-color: white;
}

a h4:hover {
    color: black !important;
}

a:focus {
    outline: 3px solid orange;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #343a40;
    text-align: center;
    align-content: center;
}

.btn:hover {
    background-color: deepskyblue;
    color: white !important;
}

button:focus {
    background-color: deepskyblue;
    color: white;
}

.rmvfav:focus {
    background-color: white;
    color: black !important;
}
.nav1 {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: +100;
    color: white;
}

.navbar-brand {
    font-family: 'Pacifico';
    color: white;
}

.navbar-brand:hover {
    color: black !important;
}

.active h4 {
    font-style: italic;
    font-weight: bold;
    color:black;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.page-card{
    margin-bottom:55px;
}
ul.pagination li {
    display: inline;
}
.pages-center{
    margin-left:38%;
}
    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

        ul.pagination li a.active {
            background-color: #4CAF50;
            color: white;
        }

        ul.pagination li a:hover:not(.active) {
            background-color: #ddd;
        }

@media screen and (max-width: 872px) {
    body{
        padding:0px;
        margin-right: 0px;
        margin-left:0px;
        align-content:center;
    }
    .continer {
        width: 100%;
        padding: 0px;
        margin-right: 0px;
        margin-left: 0px;
        align-content: center;
    }
    .page-card {
        margin-bottom: 55px;
    }
    .card {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        align-self: center;
    }

    .pages-center {
        margin-left: 30%;
    }

    .card-body {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        align-self: center;
    }
}


@media screen and (max-width: 414px) {
    .container {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        align-content: center;
    }
    .page-card {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 55px;
    }
    .card {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        align-self: center;
    }
    .pages-center{
        margin-left:13%;
    }
    .card-body {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        align-self: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
